*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    animation: troca-cor 5s ease-out infinite;
    transition: 2s;
}

@keyframes troca-cor {
    0%{
        color: aqua;
        transition: 2s;
    }

    25%{
        color: turquoise;
        transition: 2s;
    }

    50%{
        color: rgb(0, 255, 128);
        transition: 2s;
    }

    75%{
        color: rgb(255, 208, 0);
        transition: 2s;
    }

    100%{
        color: rgb(255, 0, 149);
        transition: 2s;
    }
}

.container{
    text-align: center;
    background-color: gray;
    width: 99%;
    height: 300px;
    box-shadow: 1px 1px 4px black;
    margin: 10px auto;
}

.pai{
    width: 100%;
    background-color: black;
    height: 550x;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.filho{
    width: 200px;
    height: 200px;
    background-color: cyan;
}